<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Reduce Hibernate/JPA startup logs -->
    <logger name="org.springframework.orm.jpa" level="WARN"/>
    <logger name="org.hibernate.orm.connections.pooling" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
